@import "tailwindcss";

@layer base {
  :root {
    --text: #3D2C2E;
    --background: #F5F0E8;
    --primary: #D87A62;
    --secondary: #8A8C3B;
    --accent: #E8C267;

    --text-50: #f4f0f1;
    --text-100: #eae1e2;
    --text-200: #d4c4c6;
    --text-300: #bfa6a9;
    --text-400: #a9898c;
    --text-500: #946b70;
    --text-600: #765659;
    --text-700: #594043;
    --text-800: #3b2b2d;
    --text-900: #1e1516;
    --text-950: #0f0b0b;

    --background-50: #f7f4ed;
    --background-100: #f0e9db;
    --background-200: #e0d3b8;
    --background-300: #d1bd94;
    --background-400: #c2a770;
    --background-500: #b3914d;
    --background-600: #8f743d;
    --background-700: #6b572e;
    --background-800: #473a1f;
    --background-900: #241d0f;
    --background-950: #120e08;

    --primary-50: #faeeeb;
    --primary-100: #f5dcd6;
    --primary-200: #ebbaad;
    --primary-300: #e09785;
    --primary-400: #d6745c;
    --primary-500: #cc5233;
    --primary-600: #a34129;
    --primary-700: #7a311f;
    --primary-800: #522114;
    --primary-900: #29100a;
    --primary-950: #140805;

    --secondary-50: #f7f7ed;
    --secondary-100: #f0f0db;
    --secondary-200: #e0e1b7;
    --secondary-300: #d1d293;
    --secondary-400: #c1c36f;
    --secondary-500: #b2b44b;
    --secondary-600: #8e903c;
    --secondary-700: #6b6c2d;
    --secondary-800: #47481e;
    --secondary-900: #24240f;
    --secondary-950: #121208;

    --accent-50: #fcf6e9;
    --accent-100: #f8edd3;
    --accent-200: #f2dba6;
    --accent-300: #ebc97a;
    --accent-400: #e4b74e;
    --accent-500: #dea521;
    --accent-600: #b1841b;
    --accent-700: #856314;
    --accent-800: #59420d;
    --accent-900: #2c2107;
    --accent-950: #161103;

  }
  .dark {
    --text: #F5F0E8;
    --background: #3D2C2E;
    --primary: #D87A62;
    --secondary: #8A8C3B;
    --accent: #E8C267;

    --text-50: #0f0b0b;
    --text-100: #1e1516;
    --text-200: #3b2b2d;
    --text-300: #594043;
    --text-400: #765659;
    --text-500: #946b70;
    --text-600: #a9898c;
    --text-700: #bfa6a9;
    --text-800: #d4c4c6;
    --text-900: #eae1e2;
    --text-950: #f4f0f1;

    --background-50: #120e08;
    --background-100: #241d0f;
    --background-200: #473a1f;
    --background-300: #6b572e;
    --background-400: #8f743d;
    --background-500: #b3914d;
    --background-600: #c2a770;
    --background-700: #d1bd94;
    --background-800: #e0d3b8;
    --background-900: #f0e9db;
    --background-950: #f7f4ed;

    --primary-50: #140805;
    --primary-100: #29100a;
    --primary-200: #522114;
    --primary-300: #7a311f;
    --primary-400: #a34129;
    --primary-500: #cc5233;
    --primary-600: #d6745c;
    --primary-700: #e09785;
    --primary-800: #ebbaad;
    --primary-900: #f5dcd6;
    --primary-950: #faeeeb;

    --secondary-50: #121208;
    --secondary-100: #24240f;
    --secondary-200: #47481e;
    --secondary-300: #6b6c2d;
    --secondary-400: #8e903c;
    --secondary-500: #b2b44b;
    --secondary-600: #c1c36f;
    --secondary-700: #d1d293;
    --secondary-800: #e0e1b7;
    --secondary-900: #f0f0db;
    --secondary-950: #f7f7ed;

    --accent-50: #161103;
    --accent-100: #2c2107;
    --accent-200: #59420d;
    --accent-300: #856314;
    --accent-400: #b1841b;
    --accent-500: #dea521;
    --accent-600: #e4b74e;
    --accent-700: #ebc97a;
    --accent-800: #f2dba6;
    --accent-900: #f8edd3;
    --accent-950: #fcf6e9;

  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
